!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %title 
      = @title
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "http://cdn.ucb.org.br/Scripts/tinysort/jquery.tinysort.js", type: "text/javascript"}
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel: "stylesheet"}/
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container
      .row.page-header
        %h1 chicago art events directory
          %small
            = @title
      .row
        #sidebar.col-md-3
          sidebar links
          %p 
            other links woo
        #main.content.col-md-9
          = yield