%ul.nav.nav-pills.nav-stacked 
	%li 
		%a{:href => "/"} 
			home
	%li
		%a{:href => "/galleries/html"} 
			all galleries 
		( 
		%a{:href => "/galleries"} 
			json
		)
	%li
		%a{:href => "/shows/html"} 
			all shows 
		( 
		%a{:href => "/shows"} 
			json
		|
		%a{:href => "/shows/ics"} 
			ics
		)
	%li 
		%a{:href => "http://github.com/amonks/nebula.im"} 
			Github


<ul class="nav nav-pills nav-stacked">
{% for post in site.posts %}
	<li class="{{post.group}}" dateTime="{{post.date}}">
		<a href="{{ post.url }}" title="{{ post.date | date: "%-d %B %Y" }}"><time dateTime="{{post.date}}">{{ post.title }}</time></a>
	</li>
{% endfor %}
</ul>