%ul.nav.nav-pills.nav-stacked 
	%li 
		%a{:href => "/"} 
			home
	%li
		%a{:href => "/galleries/html"} 
			all galleries 
		( 
		%a{:href => "/galleries"} 
			json
		)
	%li
		%a{:href => "/shows/html"} 
			all shows 
		( 
		%a{:href => "/shows"} 
			json
		|
		%a{:href => "/shows/ics"} 
			ics
		)
	%li 
		%a{:href => "http://github.com/amonks/nebula.im"} 
			Github